.cad {
    width: 400px;
    padding: 10px;
    box-shadow: 10px 15px 30px -10px #340241;
    background: linear-gradient(to bottom, #3b249f 0%, #4ea0d2 100%);
}

.cad h2 {
    color: white;
}

.fundoCad {
    background: linear-gradient(to bottom, #3333ff 0%, #66ccff 100%);
}

.formCad input {
    display: block;
    margin-top: 7px;
    width: 98%;
    padding: 10px;
}

.formCad label {
    color: white;
}
