.login {
    text-align: center;
    width: 350px;
    margin-right: 50px;
}

.fundo {
    background: linear-gradient(to bottom, #3333ff 0%, #66ccff 100%);
}

.formLogin input {
    border-radius: 10px;
    display: block;
    margin: 6px;
    width: 100%;
    padding: 10px;

}