* {
    padding: 0;
    margin: 0;
}

form {
    max-width: 480px;
    overflow: hidden;
    margin: 50px auto;
    background: #fff;
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    border-radius: 3px;
    padding: 1em;
}

form label {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

form input {
    color: #393838;
    font-family: 'arial';
    font-size: 15px;
    border-radius: 3px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #D2D2D2;
    transition: all 0.3s;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    margin-bottom: 10px;
}

form select {
    width: 100%;
    background-color: transparent;

}