.fundo {
    background: linear-gradient(to bottom, #3333ff 0%, #66ccff 100%);
}

.tabela {
    text-align: center;
    background-color: white;
}

.tabelapos {
    width: 70%;
    margin: auto;
    margin-top: 120px;
}

/* menu */

.b {
    margin: 0;
    background-color: white;
}